# python
*.py[cod]
.ipynb_checkpoints

# too big raw data
flightcomputer-calibration.log
flightcomputer.log

# processed data folders
fc-data
tele-data
full-flight
cal-data

# output junk
*.pdf
*.aux
*.log
*.out
*.tex
*.toc
